* MacBook Pro - 1homepage */

body {
    background-color: #F8F7F7;
    text-align: center;
  }
  img {
    mix-blend-mode:color-burn;
  }

{position: absolute;
width: 1440px;
height: 900px;

background: #F8F7F7;
border: 1px solid #000000;
box-sizing: border-box;
backdrop-filter: blur(4px);
}
/* Note: backdrop-filter has minimal browser support */

/* island */
h1
{

    position: absolute;
    width: 219px;
    height: 70px;
    left: 28px;
    top: 23px;
    
    font-family: Swanky and Moo Moo;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.32em;
    text-indent: 35px;
    
    color: #231F1F;
    

  
}
@media screen @media screen and ((min-width:737px) and (max-width:813px)){
    #h1{
position: absolute;
width: 173px;
height: 35px;
left: -35px;
top: 13px;

font-family: Swanky and Moo Moo;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.32em;
text-indent: 35px;

color: #231F1F;

mix-blend-mode: normal;
border: 1px solid #000000;
    }
}





/* button2 */
:single-button{



position: absolute;
width: 105px;
height: 98px;
left: 46px;
top: 352px;

background: #F5F4F1;


/* Line 1 */

position: absolute;
width: 104px;
height: 0px;
left: 11px;
top: 15px;

border: 5px solid #000000;
transform: rotate(0.55deg);


/* Line 2 */

position: absolute;
width: 68px;
height: 0px;
left: 13px;
top: 40px;

border: 6px solid #000000;


/* Line 3 */

position: absolute;
width: 102.02px;
height: 0px;
left: 13px;
top: 66px;

border: 8px solid #000000;
transform: rotate(1.12deg);


/* Line 4 */

position: absolute;
width: 68.01px;
height: 0px;
left: 21px;
top: 84px;

border: 6px solid #000000;
transform: rotate(0.84deg);
}

/* button1 */

:single-button{
position: absolute;
width: 150px;
height: 56px;
left: 323px;
top: 654px;

background: #231F1F;
}





/*从南到北*/
h4
{
    position: absolute;
    width: 340px;
    height: 72px;
    left: 583px;
    top: 459px;

font-family: HanziPen SC;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.315em;

color: #000000;
}

/* page 1/2 */

h3{
    
position: absolute;
width: 223px;
height: 57px;
left: 1135px;
top: 793px;

font-family: HanziPen SC;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.315em;

color: #000000;
}

/* webp (3) 1 */

img{
position: absolute;
width: 664px;
height: 348px;
left: 776px;
top: 541px;

background: url(webp (3).png);
mix-blend-mode: color-burn;
}
